<a href="https://colab.research.google.com/github/mowreee/googol-colab/blob/main/Delos_Santos_Cleaning_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#1
import pandas as pd

data = {'Name': [' Alice ', ' Bob', 'Cara ']}
df = pd.DataFrame(data)
df['Name'] = df['Name'].str.strip()
print(df)

    Name
0  Alice
1    Bob
2   Cara

In [ ]:
#2
data = {'Age': ['25', '30', 'N/A']}
df = pd.DataFrame(data)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
print(df)

    Age
0  25.0
1  30.0
2   NaN

In [ ]:
#3
data = {'Salary': [50000, None, 70000]}
df = pd.DataFrame(data)
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
print(df)

    Salary
0  50000.0
1  60000.0
2  70000.0

In [4]:
#3
data = {'Salary': [50000, None, 70000]}
df = pd.DataFrame(data)
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
print(df)

    Salary
0  50000.0
1  60000.0
2  70000.0

In [5]:
#4
data = {'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 25]}
df = pd.DataFrame(data)
df = df.drop_duplicates()
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [12]:
#5
import pandas as pd

data = {'Date': ['1/2/2023', '03-05-2023']}
df = pd.DataFrame(data)

formats = ['%m/%d/%Y', '%m-%d-%Y', '%Y-%m-%d']

def parse_date(s):
    for f in formats:
        try:
            return pd.to_datetime(s, format=f)
        except Exception:
            pass
    return pd.to_datetime(s, errors='coerce')

df['Date'] = df['Date'].apply(parse_date).dt.strftime('%Y-%m-%d')
print(df)

         Date
0  2023-01-02
1  2023-03-05

In [13]:
#6
data = {'Phone': ['(123) 456-7890', '123-456-7890']}
df = pd.DataFrame(data)
df['Phone'] = df['Phone'].str.replace(r'\D', '', regex=True)
print(df)

        Phone
0  1234567890
1  1234567890

In [14]:
#7
data = {'Email': ['Alice@Example.Com', 'BOB@EXAMPLE.com']}
df = pd.DataFrame(data)
df['Email'] = df['Email'].str.lower()
print(df)

               Email
0  alice@example.com
1    bob@example.com

In [16]:
#8
import pandas as pd
import numpy as np

data = {'Score': [85, -999, 90]}
df = pd.DataFrame(data)
df['Score'] = df['Score'].replace(-999, np.nan)
print(df)

   Score
0   85.0
1    NaN
2   90.0

In [17]:
#9
data = {'ProductCode': ['ABCD1234', 'XYZ']}
df = pd.DataFrame(data)
df['ProductCode'] = df['ProductCode'].str[:5]
print(df)

  ProductCode
0       ABCD1
1         XYZ

In [20]:
#10
import pandas as pd

data = {'Price': ['$123.45', 'USD 67.89']}
df = pd.DataFrame(data)
df['Price'] = df['Price'].str.extract(r'(\d+\.?\d*)').astype(float)
print(df)

    Price
0  123.45
1   67.89

In [21]:
#11
import pandas as pd

data = {'Subscribed': ['Yes', 'No', 'Yes']}
df = pd.DataFrame(data)
df['Subscribed'] = df['Subscribed'].map({'Yes': 1, 'No': 0})
print(df)

   Subscribed
0           1
1           0
2           1

In [22]:
#12
import pandas as pd
import numpy as np

data = {'Email': ['user1@mail.com', '', np.nan]}
df = pd.DataFrame(data)
df['MissingEmail'] = df['Email'].isna() | (df['Email'] == '')
print(df)

            Email  MissingEmail
0  user1@mail.com         False
1                          True
2             NaN          True

In [23]:
#13
import pandas as pd

data = {'FullName': ['Alice Cruz', 'Bob dela Rosa']}
df = pd.DataFrame(data)
df[['FirstName', 'LastName']] = df['FullName'].str.split(' ', n=1, expand=True)
df = df[['FirstName', 'LastName']]
print(df)

  FirstName   LastName
0     Alice       Cruz
1       Bob  dela Rosa

In [25]:
#14
import pandas as pd

data = {'Value': [10, 12, 150]}
df = pd.DataFrame(data)

mean = df['Value'].mean()
std = df['Value'].std()
df['IsOutlier'] = abs((df['Value'] - mean) / std) > 3

print(df)

   Value  IsOutlier
0     10      False
1     12      False
2    150      False

In [27]:
#15
import pandas as pd
import numpy as np

data = {'Temperature': [22, np.nan, 23]}
df = pd.DataFrame(data)

df['Temperature'] = df['Temperature'].ffill()

print(df)

   Temperature
0         22.0
1         22.0
2         23.0

In [28]:
#16
import pandas as pd

data = {'Income': [1000, 5000, 3000]}
df = pd.DataFrame(data)

df['Income'] = (df['Income'] - df['Income'].min()) / (df['Income'].max() - df['Income'].min())

print(df)

   Income
0     0.0
1     1.0
2     0.5

In [29]:
#17
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan],
    'B': [np.nan, 2, np.nan],
    'C': [np.nan, 2, np.nan],
    'D': [np.nan, np.nan, 4]
}
df = pd.DataFrame(data)

df = df[df.isnull().sum(axis=1) <= 2]

print(df)

     A    B    C   D
1  2.0  2.0  2.0 NaN

In [4]:
#18
import pandas as pd
from dateutil import parser

data = {'JoinDate': ['2023/01/15', '15-01-2023', 'Jan 15, 2023']}
df = pd.DataFrame(data)

df['JoinDate'] = df['JoinDate'].apply(lambda x: parser.parse(x).strftime('%Y-%m-%d'))

print(df)

     JoinDate
0  2023-01-15
1  2023-01-15
2  2023-01-15

In [5]:
#19
import pandas as pd

data = {'City': ['Manila', 'Manilla', 'Quezon']}
df = pd.DataFrame(data)

df['City'] = df['City'].replace({'Manilla': 'Manila'})

print(df)

     City
0  Manila
1  Manila
2  Quezon

In [6]:
#20
import pandas as pd

data = {'Address': ['123 Main St.', '456 Elm Ave']}
df = pd.DataFrame(data)

df['Address'] = df['Address'].str.replace(r'\bSt\.\b', 'Street', regex=True)
df['Address'] = df['Address'].str.replace(r'\bAve\b', 'Avenue', regex=True)

print(df)

          Address
0    123 Main St.
1  456 Elm Avenue

In [7]:
#21
import pandas as pd

data = {'Email': ['alice@example.com', 'bob@gmail.com']}
df = pd.DataFrame(data)

df['Domain'] = df['Email'].str.split('@').str[1]

print(df)

               Email       Domain
0  alice@example.com  example.com
1      bob@gmail.com    gmail.com

In [8]:
#22
import pandas as pd

data = {'Product': ['A'], 'Q1': [10], 'Q2': [15], 'Q3': [12], 'Q4': [13]}
df = pd.DataFrame(data)

df_long = df.melt(id_vars=['Product'], var_name='Quarter', value_name='Sales')

print(df_long.to_string(index=False))

Product Quarter  Sales
      A      Q1     10
      A      Q2     15
      A      Q3     12
      A      Q4     13

In [10]:
#23
import pandas as pd
import numpy as np

data = {'Gender': ['Male', 'Female', np.nan, 'Male']}
df = pd.DataFrame(data)

mode_value = df['Gender'].mode()[0]
df['Gender'] = df['Gender'].fillna(mode_value)

print(df)

   Gender
0    Male
1  Female
2    Male
3    Male

In [12]:
#24
import pandas as pd

data = {'Subscribed': ['yes', 'No', 'Y']}
df = pd.DataFrame(data)

df['Subscribed'] = df['Subscribed'].str.lower().map({'yes': True, 'y': True, 'no': False, 'n': False})

print(df.to_string(index=False))

 Subscribed
       True
      False
       True

In [14]:
#25
import pandas as pd

data = {'Comments': ['Great product! ðŸ˜Š', 'Will buy again ðŸ‘']}
df = pd.DataFrame(data)

df['Comments'] = df['Comments'].str.replace(r'[^\x00-\x7F]+', '', regex=True)

print(df)

          Comments
0  Great product!
1  Will buy again