<a href="https://colab.research.google.com/github/mowreee/googol-colab/blob/main/Delos_Santos_List_Tuple_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#1. Sum of All Elements in a List
numbers = [5, 10, 15, 20]
total = sum(numbers)
print(total)

50

In [29]:
#2. Find Maximum and Minimum in a List
numbers = [3, 8, 1, 6, 0]
maximum = max(numbers)
minimum = min(numbers)
print(f"Maximum: {maximum}")
print(f"Minimum: {minimum}")

Maximum: 8
Minimum: 0

In [30]:
#3. Remove Duplicates from a List
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [31]:
#4. Count Occurrences of an Element
my_list = [2, 3, 2, 4, 2, 5]
element_to_count = 2
count = my_list.count(element_to_count)
print(count)

3

In [32]:
#5. Reverse a List Without Using Built-in Functions
my_list = [1, 2, 3, 4]
reversed_list = []
for i in range(len(my_list) - 1, -1, -1):
  reversed_list.append(my_list[i])
print(reversed_list)

[4, 3, 2, 1]

In [33]:
#6. Merge Two Lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [34]:
#7. Find Common Elements in Two Lists
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = list(set(list1) & set(list2))
print(common_elements)

[3, 4]

In [35]:
#8. Sort List Without Using sort()
my_list = [4, 2, 9, 1]
n = len(my_list)
for i in range(n):
  for j in range(0, n - i - 1):
    if my_list[j] > my_list[j + 1]:
      my_list[j], my_list[j + 1] = my_list[j + 1], my_list[j]
print(my_list)

[1, 2, 4, 9]

In [36]:
#9. Find Second Largest Number
my_list = [10, 20, 4, 45, 99]
my_list.sort()
second_largest = my_list[-2]
print(second_largest)

45

In [37]:
#10. Replace an Element at a Specific Index
my_list = [1, 2, 3, 4, 5]
my_list[2] = 99
print(my_list)

[1, 2, 99, 4, 5]

In [38]:
#11. Convert List to Tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3)

In [39]:
#12. Concatenate Two Tuples
tuple1 = (1, 2)
tuple2 = (3, 4)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4)

In [40]:
#13. Find Index of an Element
my_tuple = (10, 20, 30, 40)
element_to_find = 30
index = my_tuple.index(element_to_find)
print(index)

2

In [41]:
#14. Count Occurrences in a Tuple
my_tuple = (1, 2, 3, 2, 2, 4)
element_to_count = 2
count = my_tuple.count(element_to_count)
print(count)

3

In [42]:
#15. Convert Tuple to String
my_tuple = ('P', 'y', 't', 'h', 'o', 'n')
my_string = "".join(my_tuple)
print('"'+my_string+'"')

"Python"

In [43]:
#16. Create a Dictionary from Two Lists
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = dict(zip(keys, values))
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [44]:
#17. Count Frequency of Words
sentence = "apple banana apple grape banana apple"
word_counts = {}
words = sentence.split()
for word in words:
  word_counts[word] = word_counts.get(word, 0) + 1
print(word_counts)

{'apple': 3, 'banana': 2, 'grape': 1}

In [45]:
#18. Merge Two Dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = dict1.copy()
merged_dict.update(dict2)
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [46]:
#19. Find Key with Maximum Value
my_dict = {'Math': 88, 'Science': 90, 'English': 85}
highest_key = max(my_dict, key=my_dict.get)
print(highest_key)

Science

In [47]:
#20. Swap Keys and Values
my_dict = {'a': 1, 'b': 2, 'c': 3}
swapped_dict = {value: key for key, value in my_dict.items()}
print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}