<a href="https://colab.research.google.com/github/mowreee/googol-colab/blob/main/Pandas_DelosSantos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
#1
import pandas as pd

data = {'FirstName': ['Alice', 'Bob'], 'LastName': ['Cruz', 'Dela Rosa']}
df = pd.DataFrame(data)
df['FullName'] = df['FirstName'] + ' ' + df['LastName']
print(df[['FullName']])

        FullName
0     Alice Cruz
1  Bob Dela Rosa

In [7]:
#2
data = {'Name': ['Alice', 'Bob', 'Cara'], 'Age': [25, None, 30]}
df = pd.DataFrame(data)
df['Age'] = df['Age'].fillna(0)
print(df)

    Name   Age
0  Alice  25.0
1    Bob   0.0
2   Cara  30.0

In [9]:
#3
data = {'FirstName': ['Juan'], 'MiddleName': ['Santos'], 'LastName': ['Cruz']}
df = pd.DataFrame(data)
df = df.drop('MiddleName', axis=1)
print(df)

  FirstName LastName
0      Juan     Cruz

In [10]:
#4
data = {'Name': ['Alice'], 'Score': [90]}
df = pd.DataFrame(data)
df = df.rename(columns={'Name': 'StudentName', 'Score': 'ExamScore'})
print(df)

  StudentName  ExamScore
0       Alice         90

In [11]:
#5
data = {'Name': ['Alice', 'Bob'], 'Score': [88, 95]}
df = pd.DataFrame(data)
df = df.sort_values(by='Score', ascending=False)
print(df)

    Name  Score
1    Bob     95
0  Alice     88

In [12]:
#6
data = {'Employee': ['Alice', 'Bob', 'Cara'], 'Department': ['IT', 'HR', 'IT']}
df = pd.DataFrame(data)
print(df['Department'].nunique())

2

In [13]:
#7
data = {'Name': ['Alice', 'Bob'], 'Score': [80, 70]}
df = pd.DataFrame(data)
df['Passed'] = df['Score'] >= 75
print(df[['Name', 'Passed']])

    Name  Passed
0  Alice    True
1    Bob   False

In [14]:
#8
data = {'Name': ['Alice', 'Bob'], 'Salary': [45000, 55000]}
df = pd.DataFrame(data)
df = df[df['Salary'] >= 50000]
print(df)

  Name  Salary
1  Bob   55000

In [15]:
#9
data = {'Name': ['Alice', 'Bob'], 'Gender': ['F', 'M']}
df = pd.DataFrame(data)
df['Gender'] = df['Gender'].replace({'M': 'Male', 'F': 'Female'})
print(df)

    Name  Gender
0  Alice  Female
1    Bob    Male

In [16]:
#10
data = {'Name': ['Alice'], 'Height_m': [1.6], 'Weight_kg': [55]}
df = pd.DataFrame(data)
df['BMI'] = df['Weight_kg'] / (df['Height_m'] ** 2)
df['BMI'] = df['BMI'].round(2)
print(df[['Name', 'BMI']])

    Name    BMI
0  Alice  21.48

In [17]:
#11
data = {'Name': ['A', 'B', 'C'], 'Department': ['HR', 'IT', 'HR'], 'Salary': [40000, 60000, 50000]}
df = pd.DataFrame(data)
result = df.groupby('Department')['Salary'].mean().reset_index()
print(result)

  Department   Salary
0         HR  45000.0
1         IT  60000.0

In [19]:
#12
customers = {'CustomerID': [1, 2], 'Name': ['Alice', 'Bob']}
orders = {'OrderID': [101], 'CustomerID': [1], 'Total': [500]}
df_customers = pd.DataFrame(customers)
df_orders = pd.DataFrame(orders)
result = pd.merge(df_orders, df_customers, on='CustomerID')[['OrderID', 'Name', 'Total']]
print(result)

   OrderID   Name  Total
0      101  Alice    500

In [21]:
#13
data = {'Region': ['North', 'South', 'North'], 'Product': ['A', 'A', 'B'], 'Sales': [100, 150, 200]}
df = pd.DataFrame(data)
pivot = df.pivot_table(index='Product', columns='Region', values='Sales', aggfunc='sum', fill_value=0).reset_index()
print(pivot)

Region Product  North  South
0            A    100    150
1            B    200      0

In [22]:
#14
data = {'Date': ['2023-01-01', '2023-01-02'], 'Sales': [100, 150]}
df = pd.DataFrame(data)
df['CumulativeSales'] = df['Sales'].cumsum()
print(df[['Date', 'CumulativeSales']])

         Date  CumulativeSales
0  2023-01-01              100
1  2023-01-02              250

In [27]:
#15
data = {'Date': ['2023-01-15']}
df = pd.DataFrame(data)
df['Month'] = pd.to_datetime(df['Date']).dt.strftime('%B')
print(df)

         Date    Month
0  2023-01-15  January

In [28]:
#16
data = {'Name': ['Alice', 'Bob'], 'Age': [25, None], 'Salary': [None, 30000]}
df = pd.DataFrame(data)
result = df.isnull().sum().reset_index()
result.columns = ['Column', 'Nulls']
print(result)

   Column  Nulls
0    Name      0
1     Age      1
2  Salary      1

In [29]:
#17
data = {'Name': ['Alice', 'Bob', 'Cara'], 'Department': ['HR', 'HR', 'IT'], 'Salary': [50000, 60000, 55000]}
df = pd.DataFrame(data)
result = df.sort_values(['Department', 'Salary'], ascending=[True, False]).groupby('Department').head(1)
print(result)

   Name Department  Salary
1   Bob         HR   60000
2  Cara         IT   55000

In [30]:
#18
data = {'StartDate': ['2023-01-01'], 'EndDate': ['2023-01-10']}
df = pd.DataFrame(data)
df['DaysActive'] = (pd.to_datetime(df['EndDate']) - pd.to_datetime(df['StartDate'])).dt.days
print(df[['DaysActive']])

   DaysActive
0           9

In [31]:
#19
data = {'Email': ['user1@gmail.com', 'user2@yahoo.com']}
df = pd.DataFrame(data)
df = df[df['Email'].str.contains('@gmail.com')]
print(df)

             Email
0  user1@gmail.com

In [32]:
#20
data = {'Score': [80, 90, 100]}
df = pd.DataFrame(data)
df['ZScore'] = ((df['Score'] - df['Score'].mean()) / df['Score'].std()).round(1)
print(df[['ZScore']])

   ZScore
0    -1.0
1     0.0
2     1.0

In [35]:
#21
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'], 'Sales': [100, 200, 300, 400]}
df = pd.DataFrame(data)
df['RollingAvg'] = df['Sales'].rolling(window=3).mean()
df = df.dropna()[['Date', 'RollingAvg']]
print(df)

         Date  RollingAvg
2  2023-01-03       200.0
3  2023-01-04       300.0

In [37]:
#22
data = {'Region': ['North', 'North', 'South'], 'Product': ['A', 'B', 'A'], 'Sales': [100, 150, 200]}
df = pd.DataFrame(data)
result = df.groupby(['Region', 'Product'])['Sales'].sum().reset_index(name='TotalSales')
print(result)

  Region Product  TotalSales
0  North       A         100
1  North       B         150
2  South       A         200

In [39]:
#23
data = {'Date': ['2023-01-01', '2023-01-15', '2023-02-01'], 'Sales': [100, 200, 300]}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.strftime('%b')
result = df.groupby('Month')['Sales'].sum().reset_index(name='TotalSales')
print(result)

  Month  TotalSales
0   Feb         300
1   Jan         300

In [40]:
#24
data = {'Score': [70, 75, 85, 100, 150]}
df = pd.DataFrame(data)
q1 = df['Score'].quantile(0.25)
q3 = df['Score'].quantile(0.75)
iqr = q3 - q1
lower = q1 - 1.5 * iqr
upper = q3 + 1.5 * iqr
df['IsOutlier'] = (df['Score'] < lower) | (df['Score'] > upper)
print(df)

   Score  IsOutlier
0     70      False
1     75      False
2     85      False
3    100      False
4    150       True

In [43]:
#25
data = {'Product': ['A', 'B', 'C'], 'Color': ['Red', 'Blue', 'Green']}
df = pd.DataFrame(data)
encoded = pd.get_dummies(df['Color'], prefix='Color')
df = pd.concat([df[['Product']], encoded], axis=1)
print(df.to_string(index=False))

Product  Color_Blue  Color_Green  Color_Red
      A       False        False       True
      B        True        False      False
      C       False         True      False